{%extends "layout.html"%}

{%block title%}My Profile{%endblock%}
{%block navigation%}
    {%if 'username' in session%}
        <a href="{{ url_for('profile', username=session['username']) }}">My Profile</a>
        <a href="{{ url_for('users') }}">Users</a>
    {%endif%}
{%endblock%}
{%block content%}
    {%if 'username' in session%}
        <h1>Welcome {{session['username']}}</h1>
        <p>Last login: {{g.lastlogin}}</p>
    {%else%}
        <p>Default admin settings:</p>
        <p>username: admin, password:1234</p>
 
        <h1>Login</h1>
        {%if error%}<p>{{error}}</p>{%endif%}
        <form action="{{ url_for('admin') }}" method=post>
            <dl>
                <dt>Username:
                    <dd><input type=text name=username>
                <dt>Password:
                    <dd><input type=password name=password>
                    <dd><input type=submit value=Login>
            </dl>
        </form>
        <h1>Sign Up</h1>
        <form action="{{ url_for('signup') }}" method=post>
            <dl>
                <dt>Username:
                    <dd><input type=text name=username>
                <dt>Password:
                    <dd><input type=password name=password required>
                    <dd><input type=password name=password2 required> re-enter password
                <dt>Email:
                    <dd><input type=text name=email>
                <dt>Role:
                    <dd>Admin<input type=radio name=role value=admin checked>
                    <dd><input type=submit value="Sign Up">
            </dl>
        </form>
    {%endif%}
{%endblock%}
