body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}


.invalidtbx {
    background-color: red;
}

.validtbx {
    background-color: green;
}


.hidden {
    display: none;
}

p.error {
    color: red;
}

p.success {
    color: green;
}
