{%extends "layout.html"%}

{%block title%}Leagues{%endblock%}
{%block content%}
    {%if error%}<p>{{error}}</p>{%endif%}
    <script>
        $(document).ready(function(){
            $('#delete_selectedBtn').click(function(){
                var ids=[];
                $('#table input:checked').each(function(){
                    ids.push(this.name);
                });
                console.log(ids);
                
                $.ajax({
                    url: '/leagues',
                    data: {'ids': ids,
                    },
                    type: 'POST',
                    success: function(response) {
                        var data=JSON.parse(response);
                        if (data.status == 'OK') {
                            
                            console.log('DELETED');
                            console.log(data['idlist']);
                            console.log(data.idlist.length);
                            for(var i=0; i<data.idlist.length; i++) {
                                var domname = "tr[name="+data.idlist[i]+"]";
                                console.log(domname);
                                $(domname).hide()
                            }
                        }
                        ids=[];
                    },
                    error: function(error) {
                        console.log(error);
                        ids=[];
                    }
                });

            


            });

            $('.delete_itemBtn').click(function() {
                console.log("deleteItem");
                console.log(this.name);
                $.ajax({
                    url: '/leagues',
                    data: {'id': this.name,
                    },
                    type: 'DEL',
                    success: function(response) {
                        var data=JSON.parse(response);
                        if (data.status == 'OK') {
                            
                            console.log('DELETED');
                            console.log(data['idlist']);
                            console.log(data.idlist.length);
                            for(var i=0; i<data.idlist.length; i++) {
                                var domname = "tr[name="+data.idlist[i]+"]";
                                console.log(domname);
                                $(domname).hide()
                            }
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

            });
            
            $('.update_itemBtn').click(function() {
                console.log("updateItem");
                console.log(this.name);
                console.log(this);
                var name=this.name;
                $.ajax({
                    url: '/leagues/'+this.name,
                    data: {'id': this.name,
                    },
                    type: 'GET',
                    success: function(response) {
                        var data=JSON.parse(response);
                        if (data.status == 'OK') {
                            $('#league_item_update').show();
                                                        
                            league=data['league'];
                            $('#league_item_update input[name=name]').val(league['name']);
                            $('#league_item_update input[name=country]').val(league['country']);
                            $('#league_item_update input[name=id]').val(league['id']);
                            var newurl = $('#update_form').attr('action') +'/' +league['id'];
                            $('#update_form').attr('action', newurl);
                        }
                        
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

        });
    </script>

        
        <table id="table">
            <tr>
                <th></th>
                {%for var in leaguetable[1:]%}
                    <th>{{var}}</th>
                {%endfor%}
            </tr>
            {%for l in leagues%}
            <tr name="{{l._id}}">
                <td><input type="checkbox" name="{{l._id}}" ></td>
                <td>{{l.name}}</td>
                <td>{{l.country}}</td>
                <td><button name="{{l._id}}" class="delete_itemBtn">Delete</button></td>
                <td><button name="{{l._id}}" class="update_itemBtn">Update</button></td>
            </tr>
            {%endfor%}
        </table>
        <div id="league_item_input" class="league_item_input">
            <form action="{{url_for('league_page')}}" method="post">
            <table id="add_item_table">
                <tr id="add_item_table_tr">
                    {%for var in leaguetable[1:] %}
                        <td><input type="text" name="{{var}}" placeholder="{{var}}"></td> 
                    {%endfor%}
                        <td><input type="submit" name="Add" id="add_itemBtn" value="Add"></td>
                </tr>
            </table>
            </form>
        </div>

        <div id="league_item_update" class="hidden">
            <form id="update_form" action="{{url_for('league_page')}}" method="POST">
            <table id="update_item_table">
                <tr id="update_item_table_tr">
                    {%for var in leaguetable[1:] %}
                        <td><input type="text" name="{{var}}" placeholder="{{var}}"></td> 
                    {%endfor%}
                        <td><input type="text" name="id" class="hidden"></td>
                        <td><input type="submit" name="Update" id="update" value="Update"></td>
                </tr>
            </table>
            </form>
        </div>


        {%if leagues|length>=1 %} 
            <button type="button" id="delete_selectedBtn">Delete Selections</button>
        {%endif%}
{%endblock%}
