{%extends "table_template.html"%}

{%block title%}Teams{%endblock%}

{%block script%}
    <script>
        $(document).ready(function(){
            $('#delete_selectedBtn').click(function(){
                var ids=[];
                $('#table input:checked').each(function(){
                    ids.push(this.name);
                });
                console.log(ids);
                
                $.ajax({
                    url: '/teams',
                    data: {'ids': ids,
                    },
                    type: 'DEL',
                    success: function(response) {
                        var data=JSON.parse(response);
                        if (data.status == 'OK') {
                            
                            console.log('DELETED');
                            console.log(data['idlist']);
                            console.log(data.idlist.length);
                            for(var i=0; i<data.idlist.length; i++) {
                                var domname = "tr[name="+data.idlist[i]+"]";
                                console.log(domname);
                                $(domname).hide()
                            }
                        }
                        ids=[];
                    },
                    error: function(error) {
                        console.log(error);
                        ids=[];
                    }
                });
            });

            $('.delete_itemBtn').click(function() {
                console.log("deleteItem");
                console.log(this.name);
                $.ajax({
                    url: '/teams',
                    data: {'id': this.name,
                    },
                    type: 'DEL',
                    success: function(response) {
                        var data=JSON.parse(response);
                        if (data.status == 'OK') {
                            
                            console.log('DELETED');
                            console.log(data['idlist']);
                            console.log(data.idlist.length);
                            for(var i=0; i<data.idlist.length; i++) {
                                var domname = "tr[name="+data.idlist[i]+"]";
                                console.log(domname);
                                $(domname).hide()
                            }
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

            });
            
            $('.update_itemBtn').click(function() {
                console.log("updateItem");
                console.log(this.name);
                console.log(this);
                var name=this.name;
                $.ajax({
                    url: '/teams/g/'+this.name,
                    data: {'id': this.name,
                    },
                    type: 'GET',
                    success: function(response) {
                        var data=JSON.parse(response);
                        if (data.status == 'OK') {
                            $('#update_item_div').removeClass('hidden');
                                                        
                            team=data['team'];
                            $('#update_item_div input[name=name]').val(team['name']);
                            $('#update_item_div select[name=coach]').val(team['coach_id']);
                            $('#update_item_div input[name=id]').val(team['id']);
                            var base_url = window.location.origin;
                            var newurl = base_url + "/teams/g/" + team['id']; 
                            $('#update_form').attr('action', newurl);
                        }
                        
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('#searchBox').change(function(){
                var key=$('#searchBox').val();

                var base_url = window.location.origin;
                var search_url = base_url + "/teams/s/" + key
                window.location.replace(search_url); 
            });

        });
    </script>
{%endblock%}

{%block search_reset_link%}
<a href="{{url_for('team_page')}}"><button class="btn btn-dark"><i class="fa fa-times fa-md"></i> Reset filter</button></a>
{%endblock%}

{%block add_item_panel_heading%}Add Team{%endblock%}

{%block add_item_form%}
            <form action="{{url_for('team_page')}}" method="post" enctype="multipart/form-data">
            <table id="add_item_table">
                    {%for var in teamtable[1:] %}
                    <tr>
                    <td>
                        {%if var=='coach_id'%}
                        {%elif var=='coach_name'%}
                        {%elif var=='coach_surname'%}
                        <select id="coach" name="coach" class="form-control">
                                {%for c in coaches%}
                                <option value="{{c._id}}" name="{{c.name}}">{{c.name + ' ' + c.surname}}</option>
                                {%endfor%}
                            </select>
                        {%else%}
                        <input type="text" name="{{var}}" placeholder="{{var}}" class="form-control">
                        {%endif%}
                    </td> 
                    </tr>
                    {%endfor%}
                <tr>
                    <td>Select image file<input type="file" name="file"></td>
                    <td><button type="submit" name="Add" id="add_itemBtn" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Add"><i class="fa fa-plus fa-md"></i> Add</button></td>
                </tr>
            </table>
            </form>


{%endblock%}
 
{%block item_table_panel_heading%}Team Table{%endblock%}

{%block item_table_panel_table%}
<table id="table" class="table table-hover">
    <tr>
        <th></th>
        <th>image</th>
        {%for var in teamtable[1:]%}
            {%if var=='coach_id'%}
            {%elif var=='coach_surname'%}
            {%else%}
            <th>{{var}}</th>
            {%endif%}
        {%endfor%}
    </tr>
    {%for c in teams%}
    <tr name="{{c._id}}">
        <td><input type="checkbox" name="{{c._id}}" ></td>
        <td><img src="{{c.img_path()}}" width="50px"></td>
        <td>{{c.name}}</td>
        <td>{{c.coach_name+' '+c.coach_surname}}</td>
        <td><button name="{{c._id}}" class="btn btn-danger delete_itemBtn" data-toggle="tooltip" title="Delete"><i class="fa fa-trash fa-md"></i></button>
            <button name="{{c._id}}" class="btn btn-warning update_itemBtn" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil fa-md"></i></button>
            <button name="{{c._id}}" id="{{c._id}}cancel_updateBtn" class="btn btn-info hidden cancel_updateBtn"><i class="fa fa-times fa-md"></i></button></td>
    </tr>
    {%endfor%}
</table>

{%endblock%}

{%block update_item_form%}
<form id="update_form" action="{{url_for('team_page')}}" method="POST" enctype="multipart/form-data">
<table id="update_item_table">
        {%for var in teamtable[1:] %}
    <tr id="update_item_table_tr">
    
        <td>
            {% if var=='coach_id'%}
            {% elif var=='coach_name'%}
            {% elif var=='coach_surname'%}
            <select id="coach" name="coach" class="form-control">
                    {%for c in coaches%}
                    <option value="{{c._id}}" name="{{c.name}}">{{c.name+' '+c.surname}}</option>
                    {%endfor%}
                </select>
            {%else%}
            <input type="text" class="form-control" name="{{var}}" placeholder="{{var}}">
            {%endif%}
        </td> 
    </tr>
        {%endfor%}
    <tr>
        <td>Select a file<input type="file" name="file"></td>
    </tr>
    <tr>
            <td><input type="text" name="id" class="hidden"></td>
            <td><input type="submit" class="btn btn-info" name="Update" id="update" value="Update">
            <button type="button" id="cancel_updateBtn" class="btn btn-danger cancel_updateBtn"><i class="fa fa-times fa-md"></i> Cancel</button></td>
    </tr>
</table>
</form>
 
{%endblock%}

